.resultpage_card {
    margin-top: 20px;
}

.resultpage_title {
    font-size: larger;
}

.resultpage_time {
    display: flex;
    justify-content: center;
}

.resultpage_title_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}